.footer-row{
	 background-color:#000;
  font-size:15px;
  color:#737373;
  justify-content: space-evenly;
 position: relative;

}

.icons{
  text-align: right;
}

.footer-row a
{
  color:#737373;
  text-decoration: none;
}
.footer-row a:hover
{
  color:#3366cc;
  text-decoration:none;
}

.footer-icons{
    text-align:right;
    list-style: none;
    flex-direction: row-reverse;

}

.footer-row .footer-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}

.footer-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  /* height:44px; */
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear;
  justify-content: space-evenly;
}

