.site-footer{
	 background-color:#000;
 	 padding:45px 0 20px;
  	font-size:15px;
  /* line-height:24px; */
  color:#737373;
  justify-content: space-evenly;
}

.site-footer a
{
  color:#737373;
  text-decoration: none;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-icons{
	  text-align:right

}

.site-footer .footer-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.footer-icons{
	 padding-left:0;
  margin-bottom:0;
  list-style:none
}


.footer-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}